<table id="tabla" class="display">
    <thead>
    <tr>
        <th>Nombre de usuario</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Solicitudes</th>
        <th>Competiciones</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {# Usuarios asociados como estadistas #}
    {% for usuario in usuarios %}
        {% if usuario.id != app.user.id %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    {% for rol in usuario.roles %}
                        {{ rol }} /
                    {% endfor %}
                </td>
                <td>
                    <span class="text-muted">Sin solicitudes</span>
                </td>
                <td>
                    <select name="competicionEstadista{{ usuario.id }}" id="competicionEstadista{{ usuario.id }}">
                        {% for competicion in usuario.competicionesEstadista %}
                            {% if competicion in app.user.competiciones %}
                                <option value="{{ competicion.id }}">{{ competicion.nombre }}</option>
                            {% endif%}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-borrar-usuario" data-id="{{ usuario.id }}">
                        <i class="bi bi-pencil-square"></i>
                        Borrar
                    </button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    {# Solicitudes pendientes #}
    {% for peticion in peticionesPendientes %}
        {% set u = peticion.usuario %}
        <tr class="table-warning">
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>
                {% for rol in u.roles %}
                    {{ rol }} /
                {% endfor %}
            </td>
            <td>
                {{ peticion.rol }}
                <br>
                <small>Comp: {{ peticion.competicion.nombre }}</small>
            </td>
            <td>
                <button class="btn btn-success btn-approve" data-id="{{ peticion.id }}">Aprobar</button>
                <button class="btn btn-danger btn-reject" data-id="{{ peticion.id }}">Rechazar</button>
            </td>
            <td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<script>
    // Asocia el evento solo una vez al cargar la página
    $(document).on('click', '.btn-role-stat-on', function () {
        const id = $(this).data('id');


        // Evita que el evento se registre varias veces
        if (!$(this).data('clicked')) {
            $(this).data('clicked', true); // Marca el botón como "ya clickeado"

            if (confirm("¿Estás seguro de que quieres dar el rol de Estadista sobre tu competicion a este usuario?")) {
                $.ajax({
                    url: `/usuario/${id}/on`,
                    method: 'PUT',
                    success: function (data) {
                        $('#btn-usuarios').trigger('click');
                        const alerta = $('#alerta-modal-editar');
                        alerta.removeClass('d-none');
                        setTimeout(() => alerta.addClass('d-none'), 3000);
                    },
                    error: function (xhr) {
                        console.error("Error al dar rol al usuario:", xhr.responseText);
                    },
                    complete: function () {
                        // Vuelve a permitir clics en el botón después de la respuesta AJAX
                        $(this).data('clicked', false);
                    }
                });
            }
        }
    });

    $(document).on('click', '.btn-role-stat-off', function () {
        const id = $(this).data('id');

        // Evita que el evento se registre varias veces
        if (!$(this).data('clicked')) {
            $(this).data('clicked', true); // Marca el botón como "ya clickeado"

            if (confirm("¿Estás seguro de que quieres denegar el rol de Estadista sobre la competición a este usuario?")) {
                $.ajax({
                    url: `/usuario/${id}/off`,
                    method: 'PUT',
                    success: function (data) {
                        $('#btn-usuarios').trigger('click');
                        const alerta = $('#alerta-modal-editar');
                        alerta.removeClass('d-none');
                        setTimeout(() => alerta.addClass('d-none'), 3000);
                    },
                    error: function (xhr) {
                        console.error("Error al quitar rol al usuario:", xhr.responseText);
                    },
                    complete: function () {
                        // Vuelve a permitir clics en el botón después de la respuesta AJAX
                        $(this).data('clicked', false);
                    }
                });
            }
        }
    });

    $(document).off('click', '.btn-borrar-usuario');
    $(document).on('click', '.btn-borrar-usuario', function () {
        const id = $(this).data('id');
        const idCompeticion = $('#competicionEstadista' + id).val();

        if (confirm("¿Estás seguro de que quieres quitarle el Rol este usuario sobre tu competición?")) {
            $.ajax({
                url: `/admin/usuario/${id}/${idCompeticion}`,
                method: 'PUT',
                success: function (data) {
                    $('#btn-usuarios').trigger('click');
                    const alerta = $('#alerta-modal-editar');
                    alerta.removeClass('d-none');
                    setTimeout(() => alerta.addClass('d-none'), 3000);
                },
                error: function (xhr) {
                    console.error("Error al borrar equipo:", xhr.responseText);
                }
            });
        }
    });

    $('.btn-approve').on('click', function(){
        const id = $(this).data('id');
        $.post(`/admin/peticion/${id}/aprobar`, ()=>location.reload());
    });
    $('.btn-reject').on('click', function(){
        const id = $(this).data('id');
        $.post(`/admin/peticion/${id}/rechazar`, ()=>location.reload());
    });
</script>