<div class="modal fade" id="modalEditarPartido" tabindex="-1" aria-labelledby="modalEditarPartidoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="titulomodalEditarPartido">Editar Partido</h5>
                <button type="button" class="btn-close cerrar-modal-partido" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <div class="alert alert-success d-none" id="alerta-modal-editar" role="alert">
                    Partido actualizado correctamente.
                </div>
                <form id="formEditarPartido" method="post">
                    <input type="hidden" id="partido-id" name="partido-id">

                    <div class="mb-3">
                        <label for="competicion-id" class="form-label">Selecciona una Competición</label>
                        <select name="competicion-id" id="competicion-id" class="form-control">
                            <option value="">Selecciona una competición</option>
                            {% for competicion in competiciones %}
                                <option value="{{ competicion.id }}">{{ competicion.nombre }}</option>
                            {% endfor %}
                        </select>

                        <label for="equipoLocal" class="form-label">Selecciona Equipo Local</label>
                        <select name="equipoLocal" id="equipoLocal" class="form-control">
                            <option value="">Seleccione un equipo</option>
                        </select>

                        <label for="equipoVisitante" class="form-label">Selecciona Equipo Visitante</label>
                        <select name="equipoVisitante" id="equipoVisitante" class="form-control">
                            <option value="">Seleccione un equipo</option>
                        </select>
                        <label for="fecha-sel" class="form-label">Fecha/Hora</label>
                        <input type="datetime-local" name="fecha-sel" id="fecha-sel" class="form-control">
                        <label for="localizacion-sel" class="form-label">Localizacion</label>
                        <input type="text" name="localizacion-sel" id="localizacion-sel" class="form-control">
                        <label for="nombreEquipoLocal" class="form-label" >Asigna a un estadista</label>
                        <select name="estadista-sel" id="estadista-sel"class="form-control">
                            <option value="">Seleccione un estadista</option>
                        </select>

                    </div>

                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cerrar-modal-partido" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        const equiposPorCompeticion = {
            {% for competicion in competiciones %}
            "{{ competicion.id }}": [
                {% for equipo in competicion.equipos %}
                { id: {{ equipo.id }}, nombre: "{{ equipo.nombre }}" }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]{% if not loop.last %},{% endif %}
            {% endfor %}
        };

        const estadistasPorCompeticion = {
            {% for competicion in competiciones %}
            "{{ competicion.id }}": [
                {% for estadista in competicion.estadistas %}
                { id: {{ estadista.id }}, nombre: "{{ estadista.username }}" }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]{% if not loop.last %},{% endif %}
            {% endfor %}
        };

        $('#competicion-id').on('change', function () {
            const compId = $(this).val();
            const equipos = equiposPorCompeticion[compId] || [];
            const estadistas = estadistasPorCompeticion[compId] || [];

            const opciones = ['<option value="">Seleccione un equipo</option>']
                .concat(equipos.map(eq => `<option value="${eq.id}">${eq.nombre}</option>`))
                .join('');

            const lista = ['<option value="">Seleccione un estadista</option>']
                .concat(estadistas.map(es => `<option value="${es.id}">${es.nombre}</option>`))
                .join('');

            $('#equipoLocal').html(opciones).prop('disabled', equipos.length === 0);
            $('#equipoVisitante').html(opciones).prop('disabled', equipos.length === 0);
            $('#estadista-sel').html(lista).prop('disabled', equipos.length === 0);
        });



        $('#equipoLocal').on('change', function () {
            const seleccionado = $(this).val();

            $('#equipoVisitante option').prop('disabled', false);

            if (seleccionado) {

                $('#equipoVisitante option').each(function () {
                    if ($(this).val() === seleccionado) {
                        $(this).prop('disabled', true);
                    }
                });


                if ($('#equipoVisitante').val() === seleccionado) {
                    $('#equipoVisitante').val('');
                }
            }
        });

        $('#equipoVisitante').on('change', function () {
            const seleccionado = $(this).val();

            $('#equipoLocal option').prop('disabled', false);

            if (seleccionado) {
                $('#equipoLocal option').each(function () {
                    if ($(this).val() === seleccionado) {
                        $(this).prop('disabled', true);
                    }
                });

                if ($('#equipoLocal').val() === seleccionado) {
                    $('#equipoLocal').val('');
                }
            }
        });
    });

    $('#formEditarPartido').submit(function (e) {
        e.preventDefault();

        const id = $('#partido-id').val();
        const datos = {
            Competicion: $('#competicion-id').val(),
            EquipoLocal: $('#equipoLocal').val(),
            EquipoVisitante: $('#equipoVisitante').val(),
            fecha: $('#fecha-sel').val(),
            localizacion: $('#localizacion-sel').val(),
            estadista: $('#estadista-sel').val(),


        };

        $.ajax({
            url: `/admin/partido/${id}/edit`,
            type: 'PUT',
            data: datos,
            success: function () {
                const alerta = $('#alerta-modal-editar');
                alerta.removeClass('d-none');
            },
            error: function () {
                alert('Error al editar el equipo.');
            }
        });
    });

    $('.cerrar-modal-partido').on('click', function () {
        $('#btn-partidos').trigger('click');
        $('#alerta-modal-editar').addClass('d-none');
    });
</script>
